table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 850px;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    width: 160px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    width: 160px;
}
td {
    background: #D8E6F3;
    width: 160px;
}
th:first-child, td:first-child {
    text-align: left;
    width: 160px;
}

.tooltip {
    position: relative;
}
.tooltip:hover::after {
    content: attr(data-title);
    position: absolute;
    color: black;
    left: 20%;
    top: 30%;
    z-index: 1;
    background: #D8E6F3;
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}

.userBlock {
    margin: auto;
    width: 855px;
    background: white;
    border: 1px double black;
    padding: 5px;
}